#!include:.gitignore
#!include:.dockerignore
.gcloudignore
.git
.github
node_modules/
frontend/node_modules/
.venv/
backend/.venv/
deploy/.env
*.log
backend/data/blueprints_raw/
backend/data/blueprints_clean/
*.zip
*.pdf
*.eps
*.ai

